<div class="container">
    <h2>Resize To Width ({{width}})</h2>

    <input type="file" (change)="fileChangeEvent($event)"/>
    <button (click)="rotateLeft()" *ngIf="croppedImage">Rotate left</button>
    <button (click)="rotateRight()" *ngIf="croppedImage">Rotate right</button>
    <button (click)="flipHorizontal()" *ngIf="croppedImage">Flip horizontal</button>
    <button (click)="flipVertical()" *ngIf="croppedImage">Flip vertical</button>

    <div>
        <div class="cropper-content">
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [cropperMinWidth]="width"
                [aspectRatio]="3 / 2"
                [cropperMinHeight]="height"
                [resizeToWidth]="width"
                [onlyScaleDown]="false"
                [roundCropper]="false"
                [maintainAspectRatio]="false"
                format="png"
                outputType="both"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
                [style.display]="showCropper ? null : 'none'"
            ></image-cropper>
        </div>
        <div class="cropper-preview">
            <img [src]="croppedImage"/><br/>
            <div *ngIf="croppedWidth && croppedHeight"><strong>Width</strong>: {{croppedWidth}} /
                <strong>Height</strong>: {{croppedHeight}}
            </div>
        </div>
    </div>
</div>
