/* You can add global styles to this file, and also import other style files */
.draggable-image{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: grab;
}
