
image-cropper {
  max-height: 33vh;
}

.cropper-wrapper {
  min-height: 300px;
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
